<div id="prof-hub-chrome">
{% if hub_v3 %}
    {% include 'school_admin/enseignant/primaire/partials/prof_primaire_periode_tabs.html' %}
    {% include 'school_admin/enseignant/primaire/partials/prof_primaire_classe_tabs.html' %}
    {% include 'school_admin/enseignant/primaire/partials/prof_primaire_search_toolbar.html' with search_placeholder="Rechercher un exercice…" search_target=".prof-primaire-searchable .exercice-card" %}
{% elif hub_v4 %}
    {% include 'school_admin/enseignant/primaire/partials/prof_primaire_classe_tabs.html' %}
    {% include 'school_admin/enseignant/primaire/partials/prof_primaire_search_toolbar.html' with search_placeholder="Rechercher un exercice…" search_target=".prof-primaire-searchable .exercice-card" %}
{% endif %}

</div>
<div id="prof-hub-panel">
    {% include 'school_admin/enseignant/partials/exercices_maison_enseignant_hub_panel.html' %}
</div>
