<div id="prof-hub-chrome">
    {% if hub_v3 %}
        {% include 'school_admin/enseignant/primaire/partials/prof_primaire_periode_tabs.html' %}
        {% include 'school_admin/enseignant/primaire/partials/prof_primaire_classe_tabs.html' %}
    {% elif hub_v4 %}
        {% include 'school_admin/enseignant/primaire/partials/prof_primaire_classe_tabs.html' %}
        {% include 'school_admin/enseignant/primaire/partials/prof_primaire_search_toolbar.html' with search_placeholder="Rechercher un etudiant..." %}
    {% endif %}
</div>
<div id="prof-hub-panel">
    <div id="gestion-notes-live-root">
        {% include 'school_admin/enseignant/partials/gestion_notes_live_inner.html' %}
    </div>
</div>
