<div id="prof-hub-swap-root" class="prof-presence-hub-shell">
    <div id="prof-hub-header">
        {% include 'school_admin/enseignant/partials/prof_presence_hub_header.html' %}
    </div>
    <div id="prof-hub-chrome">
        {% if prof_presence_hub_chrome_template %}
            {% include prof_presence_hub_chrome_template %}
        {% endif %}
    </div>
    <div id="prof-hub-panel">
        {% if prof_presence_hub_panel_template %}
            {% include prof_presence_hub_panel_template %}
        {% endif %}
    </div>
</div>
