{% load static %}
<link rel="stylesheet" href="{% static 'school_admin/css/enseignant/prof_breadcrumb.css' %}?v=1.0.0">
<link rel="stylesheet" href="{% static 'school_admin/css/directeur/matiere_tabs_overflow.css' %}?v=1.0.0" />
<link rel="stylesheet" href="{% static 'school_admin/css/directeur/tabs_nav_overflow.css' %}?v=1.0.1" />
<link rel="stylesheet" href="{% static 'school_admin/css/enseignant/prof_matiere_tabs_bar.css' %}?v=1.0.0" />
<link rel="stylesheet" href="{% static 'school_admin/css/enseignant/primaire/prof_primaire_hub.css' %}?v=1.0.1" />
