{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'school_admin/partials/seo_head.html' %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'school_admin/css/eleve/eleve_dashboard_home.css' %}?v=1.0.1">
    <link rel="stylesheet" href="{% static 'school_admin/css/fcm_notifications.css' %}">
</head>

<body>
{% include 'school_admin/eleve/partials/header.html' %}

{% include 'school_admin/eleve/partials/eleve_dashboard_home.html' %}

<script src="{% static 'school_admin/js/eleve/dashboard.js' %}?v=1.0.1"></script>
<script type="module" src="{% static 'school_admin/js/fcm_notifications.js' %}"></script>

    {% include 'school_admin/eleve/partials/bottom_nav_eleve.html' %}
</body>

</html>
