{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'school_admin/partials/seo_head.html' %}
    <title>{{ page_title|default:"Emploi du temps" }} – ARIA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'school_admin/css/eleve/eleve_emploi_du_temps.css' %}?v=1.0.0">
    <link rel="stylesheet" href="{% static 'school_admin/css/directeur/emploi_du_temps_examens.css' %}?v=1.0.0">
</head>

<body>
{% include 'school_admin/eleve/partials/header.html' %}

{% include 'school_admin/eleve/partials/eleve_emploi_du_temps_content.html' %}

    {% include 'school_admin/eleve/partials/bottom_nav_eleve.html' %}
</body>

</html>
